{% extends 'base.html' %}


{% block title %}
{{ profession.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mb-3">
    <div class="card-header">
        Профессия: <a href="{{ professions.get_absolute_url }}">{{ professions.title }}</a>
    </div>
    <div class="card-body">
        {% if human %}
            {% for human_instance in human %}
            <div class="media mb-3">
                <div class="media-photo">
                    {% if human_instance.photo %}
                        <img src="{{ human_instance.photo.url }}" class='mr-3' width='100' alt="Photo">
                    {% else %}
                        <h6>Фото отсутствует</h6>
                    {% endif %}
                </div>
                <div class="media-body">
                    <h5 class="card-title">{{ human_instance.name }} {{ human_instance.last_name }}</h5>
                    <p class="card-text">{{ human_instance.sex }}</p>
                    <p class="card-text">{{ human_instance.age }}</p>
                    <p class="card-text">{{ human_instance.born_at|date:'d-m-Y' }}</p>
                    <a href="{% url 'view_human' pk=human_instance.pk %}" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Для этой профессии пока нет данных о людях.</p>
        {% endif %}
    </div>
</div>

{% endblock %}