{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

<div class="card mb-3">
    {{ forloop.counter }}
    <div class="card-header">
        Профессия: <a href="{{ human_item.profession.get_absolute_url }}">{{ human_item.profession.title }}</a>
    </div>
    <div class="card-body">
        {% if human_item.photo %}
        <img src="{{ human_item.photo.url }}" class='mr-3' width='350' alt="Photo">
        {% else %}
        <h6>Фото отсутствует</h6>
        {% endif %}
    </div>
    <div class="card-body">
        {% autoescape off %}
        <h5 class="card-title">{{ human_item.name }}</h5>
        {% endautoescape %}
        <h5 class="card-title">{{ human_item.last_name }}</h5>
        <p class="card-text">{{ human_item.sex }}</p>
        <p class="card-text">{{ human_item.age }}</p>
    </div>
    <div class="card-footer text-body-secondary">
        {{ human_item.born_at|date:'d-m-Y' }}
    </div>
</div>

{% endblock %}
